<div>
    <div class="panel-heading text-center">Remove forums</div>
    <hr />
    <div class="panel-body">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" data-ng-model="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" data-ng-model="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-success btn-block"
                    ng-click="superAdminLogin(username,password)">
                remove forums
            </button>
        </div>
    </div>
</div>
