<div class="panel-heading text-center">Remove a subforum</div>
<hr />
<div class="panel-body">
    <span>Select a subforum</span>
    <select ng-model="subforumId" convert-to-number style="margin-bottom: 20px; width:100px;">
        <option ng-repeat="subforum in forum.subForums" value="{{subforum.id}}">{{subforum.title}}</option>
    </select>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-success btn-block"
                ng-click="removeSubForum(subforumId)">
            remove subforum
        </button>
    </div>
</div>
