        <div class="row">
            <div class="col-sm-7">
                <div ng-if="!user">
                    <h3 style="margin: 13px 11px;color: black;"><a href="#/">Forums</a>/<a href="#/subForums/{{forum.id}}">{{forum.title}}</a></h3>
                </div>
                <div ng-if="user">
                    <h3 style="margin: 13px 11px;color: black;"><a href="#/">Forums</a>/<a href="#/subForums/{{forum.id}}/{{user.id}}">{{forum.title}}</a></h3>
                </div>
            </div>
            <div class="col-sm-5">
                <div ng-if="!user" class="toolbar button-toolbar row text-right" style="margin-right: 350px">
                    <span class="form-group">
                        <button class="btn btn-default btn-success" data-ng-click="openLoginModal()">login</button>
                        <button class="btn btn-info" data-ng-click="openSignupModal()">signup</button>
                    </span>
                </div>
                <div ng-if="user" class="toolbar button-toolbar row text-right" style="margin-right: 350px">
                    <h5 class="pull-right" ng-if="user">hello {{user.username}}</h5>
                    <button class="btn btn-default btn-success" data-ng-click="logout()">logout</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="toolbar button-toolbar row" style="margin-left: 115px;margin-bottom: 20px">
            <span ng-if="user && user.type ==='admin'" class="form-group">
                <button class="btn btn-default " data-ng-click="addNewSubForum()">Add new sub-forum</button>
                <button class="btn btn-default " data-ng-click="addAdmin()">Add admin  </button>
                <button class="btn btn-default " data-ng-click="setPolicy()">set policy  </button>
                <button class="btn btn-danger" data-ng-click="removeSubForum()">Remove sub-forum</button>
            </span>
        </div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="row col-lg-10">
                <panel panel-class="panel-primary">
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr style="font-weight: bold">

                                <td class="center" style="width:2%">
                                    <label>
                                        <input icheck type="checkbox" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>Topic</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subForum in forum.subForums">
                                <td class="center">
                                    <label>
                                        <input icheck type="checkbox" />
                                        <span class="icheck-helper"></span>
                                    </label>
                                </td>
                                <td style="max-width: 200px;overflow: auto;cursor: pointer">
                                    <div ng-if="!user">
                                        <a href="#/threads/{{forum.id}}/{{subForum.id}}"><span style="text-align: left;">{{subForum.title}}</span></a>
                                    </div>
                                    <div ng-if="user">
                                        <a href="#/threads/{{forum.id}}/{{subForum.id}}/{{user.id}}"><span style="text-align: left;">{{subForum.title}}</span></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </panel>
            </div>
        </div>
