<div class="row">
    <div class="col-sm-7">
        <div ng-if="!user">
            <h3 style="margin: 13px 11px;color: black;"><a href="#/">Forums</a>/<a href="#/subForums/{{forum.forumId}}">{{forum.title}}</a>/<a href="#/threads/{{forum.forumId}}/{{subForum.subForumId}}">{{subForum.title}}</a></h3>
        </div>
        <div ng-if="user">
            <h3 style="margin: 13px 11px;color: black;"><a href="#/">Forums</a>/<a href="#/subForums/{{forum.forumId}}/{{user.id}}">{{forum.title}}</a>/<a href="#/threads/{{forum.forumId}}/{{subForum.subForumId}}/{{user.id}}">{{subForum.title}}</a></h3>
        </div>
    </div>
    <div class="col-sm-5">
        <div ng-if="!user" class="toolbar button-toolbar row text-right" style="margin-right: 350px">
            <span class="form-group">
                <button class="btn btn-default btn-success" data-ng-click="openLoginModal()">login</button>
                <button class="btn btn-info" data-ng-click="openSignupModal()">signup</button>
            </span>
        </div>
        <div ng-if="user" class="toolbar button-toolbar row text-right" style="margin-right: 350px">
            <h5 class="pull-right" ng-if="user">hello {{user.username}}</h5>
            <button class="btn btn-default btn-success" data-ng-click="logout()">logout</button>
        </div>
    </div>
</div>
<hr />
<div class="toolbar button-toolbar row" style="margin-left: 115px;margin-bottom: 20px">
    <span ng-if="user && user.type ==='admin'" class="form-group">
        <button class="btn btn-default " data-ng-click="addModerator()">Add moderator  </button>
        <button class="btn btn-default " data-ng-click="removeModerator()">Remove moderator  </button>
    </span>
    <span ng-if="user && user.type ==='member'" class="form-group">
        <button class="btn btn-default " data-ng-click="complainModerator()">Complain moderator </button>
    </span>
</div>
<form class="form-horizontal">
    <div class="col-lg-10">
        <div data-ng-repeat="thread in subForum.threads" style="margin-left: 20px">
            <div class="container" style="border:1px solid #000000; width: 1090px" ng-if="!thread.edit">
                <div class="row">
                    <h4 class="col-lg-8">{{thread.topic}}</h4>
                    <h4 class="text-right col-lg-4">{{thread.date}}</h4>
                </div>
                <div class="row">
                    <h5 class="col-lg-8">{{thread.content}}</h5>
                    <h5 class="text-right col-lg-4">{{thread.publisher}}</h5>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block pull-right" style="width:100px;margin-bottom:20px" ng-if="user && user.username === thread.publisher" ng-click="deleteMessage(thread.id)">Delete</button>
                <button type="submit" class="btn btn-lg btn-info btn-block pull-right" style=" width:100px" ng-if="user && user.username === thread.publisher" ng-click="enableEditing(thread)">Edit</button>
            </div>
            <div class="form-group" ng-if="thread.edit">
                <textarea ng-model="thread.topic" class="form-control" rows="1" placeholder="title"></textarea>
                <textarea ng-model="thread.content" class="form-control" rows="3" placeholder="content"></textarea>
                <button class="btn btn-default btn-info" data-ng-click="editMessage(thread);thread.title='';thread.content='';">Edit thread</button>
            </div>
            <div data-ng-repeat="comment in thread.comments" style="margin-left: 70px">
                <div class="container" style="border:1px solid #000000; width: 1020px" ng-if="!comment.edit">
                    <div class="row">
                        <h4 class="col-lg-8">{{comment.topic}}</h4>
                        <h4 class="text-right col-lg-4">{{comment.date}}</h4>
                    </div>
                    <div class="row">
                        <h5 class="col-lg-8">{{comment.content}}</h5>
                        <h5 class="text-right col-lg-4">{{comment.publisher}}</h5>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success btn-block pull-right"  style=" width:100px;margin-bottom:20px" ng-if="user && user.username === comment.publisher" ng-click="deleteMessage(comment.id)">Delete</button>
                    <button type="submit" class="btn btn-lg btn-info btn-block pull-right" style=" width:100px" ng-if="user && user.username === comment.publisher" ng-click="enableEditing(comment)">Edit</button>
                </div>
                <div class="form-group" ng-if="comment.edit">
                    <textarea ng-model="comment.topic" class="form-control" rows="1" placeholder="title"></textarea>
                    <textarea ng-model="comment.content" class="form-control" rows="3" placeholder="content"></textarea>
                    <button class="btn btn-default btn-info" data-ng-click="editMessage(comment);comment.title='';comment.content='';">Edit comment</button>
                </div>
            </div>
            <div class="form-group" style="margin-left: 70px">
                <textarea ng-model="comment.title"  class="form-control" rows="1" placeholder="title"></textarea>
                <textarea ng-model="comment.content" class="form-control" rows="3" placeholder="content"></textarea>
                <button class="btn btn-default btn-info" data-ng-click="addComment(thread.id,comment);comment.title='';comment.content='';">Add comment</button>
            </div>

        </div>
        <div class="form-group" style="margin-left: 20px">
            <textarea class="form-control" rows="1" placeholder="title" ng-model="title"></textarea>
            <textarea class="form-control" rows="3" placeholder="content" ng-model="content"></textarea>
            <button class="btn btn-default btn-info" data-ng-click="addThread(title,content);title='';content=''">Add thread</button>
        </div>
    </div>
</form>

